
  <div class="post-outer-container">
      <div class="post-container">
          <div class="post-details">
              <div class="user-container">
                  <h3 class="user-container__user">Nitesh Kabra</h3>
              </div>
              <div class="clear"></div>
          </div>
          <p class="post-content">If you can find a path with no obstacles, it probably doesn't lead anywhere. - Frank A Clark</p>
          <div class="post-actions">
              <span class="post-actions__like"><a href="javascript:;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Like</a></span>
              <span class="post-actions__share"><a href="javascript:;"><i class="fa fa-share-alt" aria-hidden="true"></i>2</a></span>
          </div>
      </div>
     

 