
<div class="card card-sign">

  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="forma.form.valid && guardar()" #forma="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
        <div class="title-sign">
            <h2>Registro</h2>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.nombre" name="name" type="text" class="form-control" id="name"  placeholder="Ingresar nombre" [ngClass]="{ 'is-invalid': forma.submitted && name.invalid }" required #name="ngModel">
          <div *ngIf="forma.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">El nombre es requerido</div>
          </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.correo" name="email" type="email" class="form-control" id="email"  placeholder="Ingresar correo" [ngClass]="{ 'is-invalid': forma.submitted && email.invalid }" required email #email="ngModel">
          <div *ngIf="forma.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">El correo es requerido</div>
              <div *ngIf="email.errors.email">Se debe ingresar un correo valido</div>
          </div>
        </div>
        
        <div class="form-group">
          <input [(ngModel)]="user.contrasenia" name="password" type="password" class="form-control" id="password" placeholder="Contraseña" [ngClass]="{ 'is-invalid': forma.submitted && password.invalid }" required minlength="7" #password="ngModel">
          <div *ngIf="forma.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">La contraseña es rquerida</div>
              <div *ngIf="password.errors.minlength">La contraseña debe tener almenos 7 caracteres</div>
          </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="user.confirmarContrasenia" name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Repetir contraseña" [ngClass]="{ 'is-invalid': forma.submitted && confirmPassword.invalid }" required #confirmPassword="ngModel">
          <div *ngIf="forma.submitted && confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.required">Es necesario confirmar la contraseña</div>
              <div *ngIf="confirmPassword.errors.mustMatch">Las contraseñas no coinciden</div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Registrar</button><br>
      </form>
    </div>
    <div class="col-md-6">
      <h2>imagen</h2>
      <button [routerLink]="['login']" type="button" class="btn btn-link">Ya tengo una cuenta</button>
    </div>
  </div>
  
</div>
