
<div class="container">
  <br><br>
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">
        {{ auth.name | titlecase }}
      </p>
      
      <ul class="content__container__list">
        <li class="content__container__list__item">hello !</li>
        <li class="content__container__list__item">salut !</li>
        <li class="content__container__list__item">hola !</li>
        <li class="content__container__list__item">привет !</li>
      </ul>
    </div>
  </div>
</div>

 


